<%/** @param config Mailing configuration */%>
<div class="container">
  <h3>Test Worked!</h3>
  <p>Regards from the cloud server!</p>
  <br>
  <p>
    Config:<br>
    <pre><%=JSON.stringify(config, null, 2)%></pre>
  </p>
</div>
