// Import this file before Bootstrap so theme definitions are set.

@import 'fonts';

$body-color: $light;
$headings-color: $secondary;
$font-family-base: $font-macondo;
$headings-font-family: $font-magic-medieval;
