$font-path: 'https://yourapp.back4app.io/templates/css/fonts'; // Path to fonts on the public server

// Define theme colors
$dark: #080707;
$primary: #573E2E;
$secondary: #FFCF00;

// Bootstrap imports
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/mixins';
@import 'node_modules/bootstrap/scss/variables';

