// You can write your own style rules for mailing templates or you can
// even import styles from a common library submodule to share the same
// rules among the back and front ends.

@import 'variables';
@import 'theme';

// Load only the required modules from Bootstrap

@import 'node_modules/bootstrap/scss/buttons';
@import 'node_modules/bootstrap/scss/grid';
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/type';
@import 'node_modules/bootstrap/scss/utilities/background';
@import 'node_modules/bootstrap/scss/utilities/text';
@import 'node_modules/bootstrap/scss/utilities/spacing';

@import 'elements';

.container {
  font-family: $font-macondo !important;
  color: $light !important;
}

img.logo {
  width: 200px;
  height: 200px;
}
